{% extends 'marvel_world/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<header>
  <h2>Power Update</h2>
</header>

<!-- novalidate attribute required to render validation messages -->
<form method="post" novalidate>
  {% csrf_token %}


  <!-- Restore missing fields rendered using Bootstrap rows and columns classes -->
  <div class="row">
    <div class="col-6">
        {{ form.power_name|as_crispy_field }}
    </div>
</div>





  <button type="submit" class="btn btn-outline-success">Update</button>
  &nbsp;<a class="btn btn-outline-secondary" href="{% url 'super_power_information' power.pk %}">cancel</a>
  <!-- Restore missing button -->

</form>

{% endblock content %}